.preloaderWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgba(125, 125, 125, 0.3)
}



.preloaderImg {
    position: absolute;
    top: 45%;
    left: 45%;


}