.wrap {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.left {
    display: grid;
    grid-auto-flow: row;
}

.right {
    word-break: break-all;
    display: grid;
    border-radius: 1px solid;
    border-radius: 20px;
    background-color: lightsalmon;
}

.profile_img {
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
}