.wrap {
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: 1fr;
    grid-template-areas: "i c";
    height: 100%;
}

.interlocutors {
    grid-area: i;
    border-right: 1px solid black;
}

.chat {
    grid-area: c;
}